<<<<<<< HEAD


  <!--no result-->
  <% if @jobs.blank?%>
    <div class="search-error">
      <h3><%= t('no_result') %></h3>
      <br>
      <p><%= link_to(t('view_all'), jobs_path, class: "btn btn-lg btn-success") %></p>
         </div>
       <!-- search results -->
       <% else %>
         <div class="search-results">
           <div class="text-center">
             <!-- string -->
             <h3><%= t('search_results') %>～<%= @jobs.count %><%= t('result') %></h3>
           </div>

           <!-- render ist of results -->
           <%= render :partial => "jobs_item", :collection => @jobs, :as => :job %>

  </div>

       <!-- pagination 換頁區塊 -->

       <div class="col-md-10 col-md-offset-1 job-bottom">
         <div class="text-center">
           <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
        </div>
        </div>

    <% end %>
=======
<div class="pull-right">
   <%= link_to("Check All Jobs", jobs_path) %> | <%= link_to("Back", root_path) %>
 </div>
   <hr>
   <table class="table table-boldered">
     <thead>
       <tr>
         <td>Title</td>
         <td>Lower Salary</td>
         <td>Upper Salary</td>
         <td>Publish Time</td>
       </tr>
     </thead>
     <tbody>
       <% @job.each do |job| %>
         <tr>
           <td>
             <%= link_to(job.title, job_path(job)) %>
           </td>
           <td>
             <%= job.wage_lower_bound %>
           </td>
           <td>
             <%= job.wage_upper_bound %>
           </td>
           <td>
             <%= job.created_at %>
           </td>
         </tr>
       <% end %>
     </tbody>
   </table>
>>>>>>> master
