<div class="col-md-12">
  <div class="row">
    <div class="col-md-12 btn-group admin-select-job-box">


      <div class="job">
        <div class='pull-right admin-btn-add'>
        <P>  <%= link_to(t('add_job'), new_admin_job_path, :class => 'btn  btn-primary' ) %>
          </P>
        </div>

 <div class="admin-job-box">

<table class="table table-hover" >
  <thead>
      <tr>

        <th width="100"><%= t('th_category') %></th>
        <th width="150"><%= t('th_position') %></th>
        <th width="60"><%= t('th_count') %></th>
        <th width="100"><%= t('th_manage') %></th>
        <th width="50"><%= t('th_published') %></th>
      </tr>
  </thead>

  <% @jobs.each do |job| %>
    <tr>
      <td style="vertical-align:middle">
        <%= job.category %>
      </td>
      <td style="vertical-align:middle">
        <%= link_to(job.title, admin_job_path(job)) %>
      </td>
      <td style="vertical-align:middle"> <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>
      <td style="vertical-align:middle">
            <!-- edit -->
            <%= link_to edit_admin_job_path(job), :class => "btn btn-xs btn-success" do %>
              <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true")></i>
            <% end %>
            <!-- delete -->
            <%= link_to admin_job_path(job), :method => :delete, :class => 'btn btn-xs btn-danger', :data => { :confirm => 'Are you sure?' } do %>
              <i class="fa fa-trash-o fa-fw" aria-hidden="true")></i>
            <% end %>

        <% if job.is_hidden %>
            <!-- publish -->
            <%= link_to publish_admin_job_path(job), :method => :post, :class => 'btn btn-xs btn-default' do %>
              <i class="fa fa-eye fa-fw" aria-hidden="true")></i>
            <% end %>
        <% else %>
            <!-- hide -->
            <%= link_to hide_admin_job_path(job), :method => :post, :class => 'btn btn-xs btn-default' do %>
              <i class="fa fa-eye-slash fa-fw" aria-hidden="true")></i>
            <% end %>
        <% end %>
      </td>
      <td>
          <%= job.created_at %>
      </td>
    </tr>
  <% end %>
</table>
  </div>



<!--paginate -->
<div class="col-md-12 job-bottom">
    <div class="text-center">
      <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
    </div>
  </div>

</div>
</div>
</div>
