<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div  class="navbar-header">
      <a class="navbar-brand" href="/"><img src='<%= image_url 'logo.png' %>' >金坷拉·24K Offer</a>
    </div>

    <div class="collapse navbar-collapse top-nav" id="menu-4">
                          <!--=== 頁首連結 ===-->
      <ul class="nav navbar-nav navbar-left">
        <li> <%= link_to('首頁', root_path) %> </li>
        <li> <%= link_to('工作', jobs_path) %> </li>
      </ul>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>

          <% if !current_user %>
          <li><%= button_to("登入", new_user_session_path, method: :get, class: "btn btn-default navbar-btn") %></li>
          <li><%= button_to("註冊", new_user_registration_path, method: :get, class: "btn btn-default navbar-btn") %> </li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Hi,bro <%= current_user.name %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% if current_user.admin? %>
                <li> <%= link_to(' Admin Jobs plats', admin_jobs_path) %> </li>
                <li> <%= link_to(' My Favorites', favorites_path) %> </li>
                <% end %>
                <li> <%= link_to("Log Out", destroy_user_session_path, method: :delete) %> </li>

              </ul>
            </li>
          <% end %>

        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>



<!-- 以下代码添加在最后   加入彈入頁面註冊與登入連接-->
